


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #FAF3E0;
  color: #4E342E;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header */




/* Request Details */
.request-wrapper {
  margin: 3rem auto;
  height:450px;

}

.request-card {
  
  display: flex;
  flex-wrap: wrap;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  overflow: hidden;
}

.request-img {
  flex: 1 1 380px;
  background: #FFFDF7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.request-img img {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}

.request-info {
  flex: 1 1 480px;
  padding: 2rem;
}

.request-info h2 {
  color: #3E2723;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 0.8rem 1.2rem;
  margin-bottom: 1rem;
}

.desc p {
  margin-bottom: 0.5rem;
}

.btn-group {
  margin-top: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}




.btn-action {
  border: 1.5px solid #1f1f1e;
  background: #FFF8E1;
  color: white;
  min-width: 150px;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
}



/* button */

.btn-create { background: #4CAF50 }
.btn-reject { background: #E53935 }




button:disabled {
  background-color: #E5E5E5 !important;  
  color: #8A8A8A !important;            
  border: 1.5px solid #D0D0D0 !important; 
  cursor: not-allowed;
  filter: grayscale(20%);
  opacity: 1;
}




button:disabled {
  filter: grayscale(20%);
}

.btn-action:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}





@media (max-width: 768px) {
  .request-card {
    flex-direction: column;
  }
  .request-img img {
    max-height: 280px;
  }
  .btn-group {
    flex-direction: column;
  }
  .btn-action {
    width: 100%;
  }
}
